bases:
  - ../../base

commonLabels:
  env: production
  app: go
  web: fontend
namespace: prod-devops


images:
  - name: IMAGE_NAME
    newName: oattoman7522/devops-assignment/go
    newTag: TAG_NUMBER
    